.fundo {
    width: 100%;
    height: 100%;
    background: #fc0;
}

.btn {
    color: #fff;
    background: #004226;
    width: 100%;
    height: 6vh;
    border-radius: 3vh;
    border: none;
    font-size: 16pt;
}

.btn-red {
    color: #fff;
    background: #ae0000;
    width: 100%;
    height: 6vh;
    border-radius: 3vh;
    border: none;
    font-size: 16pt;
}

input {
    width: 100%;
    height: 6vh;
    border-radius: 3vh;
    border: black 1pt solid;
    background: #fff;
    text-align: center;
    font-size: 16pt;
}

label {
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 14pt;
    font-weight: 600;
    margin-bottom: 1.5vh;
}

.form-cadastro {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.5);
}

.brasao-puc {
    width: 50%;
}

.info {
    font-size: 16pt;
    color: #ae0000;
}