body {
    background-color: #d9d9d9 !important;
}

section {
    min-height: calc(100vh - max(5vh, 40px));
}

.card-info {
    background: #fff;
    height: 8vh;
    border-radius: 60px;
    padding: 5px 30px;
    position: relative;
}

.card-info>span {
    color: #d9d9d9;
}

.card-info>p {
    font-size: 18pt;
}

.card-info>span.editar {
    position: absolute;
    right: 30;
    top: 35%;
}

.titulo {
    border-bottom: 1px solid #181818;
}

.card-cliente {
    background: hsl(0, 0%, 100%);
    border-radius: 60px;
    padding: 5px 30px;
    position: relative;
    margin-bottom: 20px;
}

.fa-circle-check {
    color: #2ab514;
}

.fa-circle-xmark {
    color: #ae0000;
}