.vh-100 {
    height: 100vh;
}


.caption-login {
    padding: 30vh 0;
}

.titulo {
    margin-left: 5vw;
    color: #004226;
    font-size: 30pt;
}

.logo-green {
    width: 100%;
}

.form-login {
    max-width: 30vw;
    margin: auto 0;
    height: 95vh;
    border-radius: 30px;
    padding: 40px;
    padding-top: 10vh;
    background: #fc0;
}

.form-login .titulo {
    margin-left: 0;
}

.form-cadastro {
    max-width: 30vw;
    margin: auto 0;
    min-height: 99vh;
    border-radius: 30px;
    padding: 40px;
    padding-top: 10vh;
    background: #fc0;
}

.form-cadastro .titulo {
    margin-left: 0;
    font-size: 25pt;
}



label {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 22pt;
    font-weight: 600;
}

.form-cadastro label {
    font-size: 18pt;
}

input {
    width: 100%;
    height: 6vh;
    border-radius: 3vh;
    border: none;
    background: #fff;
    text-align: center;
    font-size: 16pt;
}

.btn-login {
    color: #fff;
    background: #004226;
    width: 100%;
    height: 6vh;
    border-radius: 3vh;
    border: none;
    font-size: 16pt;
}

.brasao-puc {
    width: 50%;
}

.play-circle {
    margin: auto;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background-color: #004226;
    /* cor de fundo do círculo */
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 300ms linear;
}

.play-triangle {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
}

.play-triangle-cadastro {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 25px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
}

.link-cadastro {
    text-decoration: none;
    color: #004226;
    text-align: center;
    font-size: 15pt;
}

.link-cadastro:hover {
    color: #004226;
    text-decoration: underline;
}

.play-circle:hover {
    transform: scale(1.2);
}

.cadastrar {
    padding-top: calc(50vh - calc(calc(60px + 15pt)/2));
}

.form-cadastro label {
    font-size: 18pt;
}

.error,
.error:focus {
    border: #ae0000 solid 2.5px;
}

.error-message {
    color: #ae0000;
    text-align: center;
}

.form-check label {
    font-size: large;
    text-align: start;
}

.form-check input {
    width: 2vh;
    height: 2vh;
}

.infos {
    background: #a5a5a5;
    border-radius: 50px;
}

.info-message {
    color: #ae0000;
    font-size: x-large;
    font-weight: bold;
}