.btn-novo {
    font-weight: 800;
    color: #fff;
    background: #004226;
    text-decoration: none;
    height: fit-content;
    border-radius: 3vh;
    border: none;
    font-size: 12pt;
}

.btn-novo:hover {
    background: #005a3c;
    color: #fff;
}

.area-sup {
    border-bottom: 1px solid #333;
}

.card-orcamento {
    font-size: 14pt;
    padding: 10px 20px;
    background: #fff;
    border-radius: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr .5fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.card-orcamento button,
.btn {
    font-weight: 800;
    color: #fff;
    height: fit-content;
    border-radius: 10px;
    border: none;
    font-size: 12pt;
}

.card-orcamento button.btn-baixar,
.btn.btn-baixar {
    background: #004226;
}

.card-orcamento button.btn-cancelar,
.btn.btn-cancelar {
    background: #ae0000;
}

.card-orcamento button.btn-assinar,
.btn.btn-assinar {
    background: #fc0;
}

.card-orcamento button.btn-disabled,
.btn.btn-disabled {
    background: #a5a5a5;
    cursor: default;
}

.status-card {
    background: #d9d9d9;
    border-radius: 20px;
    padding: 4px;
    display: inline-flex;
    align-items: center;

}

.caption.pendente {
    color: #00a3ff;
}

.caption.aguardando {
    color: #fc0;
}

.caption.cancelado {
    color: #ae0000;
}

.caption.aprovado {
    color: #2ab514;
}

.icon.pendente {
    background: #00a3ff;
    clip-path: circle(50% at 50% 50%);
}

.icon.aguardando {
    padding-top: 5px;
    font-size: 15px;
    background: #fc0;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.icon.cancelado {
    background: #ae0000;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}

.icon.aprovado {
    background: #2ab514;
    clip-path: circle(50% at 50% 50%);
}

.caption {
    display: inline-block;
    margin: 0 0 0 5px !important;
    font-size: 18px;
    font-weight: 700;
}

.icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    color: white;
}

.icon i {
    margin: auto auto;
}

.form-orcamento {
    padding: 20px;
}

.form-orcamento form {
    background: #fff;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.equipamento {
    position: relative;
}

.equipamento::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 1px;
    background: #333;
}

.titulo-equipamento {
    padding-left: 8vw
}

.form-orcamento label {
    font-size: 12pt;
    font-weight: 400;
}

.form-orcamento input:focus,
.form-orcamento select:focus {
    border-color: #333;
    border-width: 1.5px;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(33, 33, 33, .25);
}

.checks-teste input[type="checkbox"]:checked {
    background: #fc0;
    border: none;
    position: relative;
}

.checks-teste input[type="checkbox"]:checked::after {
    content: "\2713";
    position: absolute;
    font-weight: 900;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #333;
}

.area-botao {
    padding-right: 5vw;
}

.btn:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

.btn:hover {
    text-decoration: underline;
}

.btn-finalizar {
    font-weight: 800;
    color: #333;
    background: #fc0;
    text-decoration: none;
    height: fit-content;
    border-radius: 5px;
    border: none;
    font-size: 12pt;
}

.btn-finalizar:hover {
    background: #f5b900;
}

.orcamento {
    background: #fff;
    padding: 30px 10px;
    border-radius: 10px;
}

.equipamentos {
    border-bottom: #333 1px solid;
}

.imagem {
    background-color: #a5a5a57a;
    border-radius: 30px;
}

.imagem img {
    aspect-ratio: 1/1;
    object-fit: scale-down;
    mix-blend-mode: multiply;
}

.num-pedido {
    font-size: 12pt;
}